body
{
	margin: 0px;
	padding: 0px;
	font-family: 'Courier New', Courier, monospace;
}

a
{
	all: unset;
}

table
{
border-collapse: collapse;
width: 100%;
margin-bottom: 40px;
}

th
{
	background-color:#f2f2f2;
}
	

td, th
{
border: 1px solid #dedede;
text-align: left;
padding-top: 1px;
padding-bottom: 1px;
padding-left: 4px;
vertical-align: middle;
font-weight:100;
}

th[col="$s"]
{
	width: 10px;
}

tr:nth-child(even) {
background-color: #f2f2f2;
}

a[order]
{
	font-size: 14px;
	color: green;
	padding-right: 10px;
}

a[order].selected
{
	color:rgb(121, 161, 0) !important;
	font-weight: bold !important;
}

.bar
{
	background-color: rgb(103, 103, 103);
	color:#ececec;
	padding: 3px;
}


a:hover
{
	text-decoration: underline;
	cursor: pointer;
}