body
{
	font-family: 'Courier New', Courier, monospace;
}

table {
border-collapse: collapse;
width: 100%;
border: 1px solid #dbdbdb;
margin: 20px;
}

th {
	background-color:#f2f2f2;
}
	

td, th {
border: 0px solid #efefef;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #f2f2f2;
}

a[order], a[order]:visited, a[order]:link
{
	font-size: 14px;
	color: green;
	padding-right: 10px;
	font-weight: 100;
	text-decoration: none;
}

a[order].selected
{
	color:rgb(100, 134, 0);
	font-weight: bold;
}